/* ----- media queries ----- */
@media screen and (max-width: 1000px) {
  .navbar-toggler-icon {
    font-size: 20px;
  }
  .mainHeaderWrapper {
    margin-top: 20vh;
  }
  #mainSection2 {
    height: 55vh;
  }
  .frontSelector {
    margin-left: 17%;  
  }
  #projectSelector {
    margin: auto;
  }
  .selectorRow {
    margin-left: 20%;
  }
  #projectSelText {
    writing-mode: horizontal-tb; 
  }
  #frontRow, #backRow {
    display: inline-flex;
  }
  #contact, #checkOut {
    margin: auto;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 900px) {
  .mainHeaderWrapper {
    width: auto;
  }
  .nav-link {
    font-size: 50px;
  }
  #mainBottom {
    font-size: 25px;
  }
  #contact, #checkOut {
    margin: auto;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 700px) {
  /* ----------------------------------- */
  .navbar {
    position: relative;
  }
  .nav {
    flex-direction: column;
  }
  .nav-link {
    font-size: 30px;
  }
  .mainHeaderWrapper {
    margin-top: 14vh;
  }
  #mainHeader {
    font-size: 80px;
  }
  #mainBottom {
    font-size: 18px;
  }
  /* ----------------------------------- */
  .accordion {
    margin: 0;
    width: 100%;
  }
  #mainSection1 {
    background: rgb(39, 39, 39);
    padding-top: 5%;
    padding-bottom: 5%;
  }
  #profile-pic {
    height: 400px;
    margin-bottom: 10%;
    background-color: #4B9CD3;
    padding: 20px;
  }
  /* ----------------------------------- */
  #mainSection2 {
    height: 55vh;
  }
  .selectorRow {
    margin-left: 5%;
  }
  #projectSelText {
    font-size: 20px;
  }
  #frontRow, #backRow {
    width: 55%;
  }
  #projectCarouselFRONT, #projectCarouselBACK {
    height: 100%;
  }
  .carousel-caption {
    font-size: 10px;
    height: auto;
  }
  #portDes {
    display: none;
  }
  /* ----------------------------------- */
  #contact, #checkOut {
    margin: auto;
    width: 100%;
    margin-bottom: 10%;
  }
  #mainSection4 {
    padding-bottom: 15%;
  }
}

@media screen and (max-width: 400px) {
  #mainHeader {
    font-size: 60px;
  }
  #profile-pic {
    height: 300px;
  }
}