/* -----GLOBAL----- */
body {
    background-color: rgb(31, 31, 31);
}
.btn {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid transparent !important;
    background-image: none; 
}

/* -----HEADER CONTAINER----- */

#headerContainer {
    height: 100vh;
    background-color: burlywood;
    text-align: center;
    padding-top: 35vh;
}
#mainHeader {
    font-size: 100px;
}
#mainBottom {
    position: absolute;
    bottom: 0;
    right: 48%;
}


/* -----SECTION GROUP STYLING----- */

#mainSection1, #mainSection3 {
    background-color: chocolate;
}
#mainSection2, #mainSection4 {
    background-color: teal;
}

/* -----SECTION ONE----- */

#mainSection1 {
    height: 100%;
    padding-bottom: 200px;
    text-align: center;
}
#triangle {
    margin: auto;
    width: 0%;
    height: 0;
    border-left: 40vw solid transparent;
    border-right: 40vw solid transparent;
    border-top: 40vw solid brown;
}
#profile-pic {
    height: 500px;
    border-radius: 50%;
    position: relative;
    top: -450px;
}
#aboutHeader {
    margin-top: -23%;
    margin-bottom: 2%;
}
.accordion {
    width: 50%;
    margin: auto;
}
.aboutItem {
    border-bottom: 1px solid black;
}

/* -----SECTION TWO----- */

#mainSection2 {
    height: 100vh;
}
#projectsHeader {
    float: left;
    padding-left: 10%;
    padding-top: 10%;
    margin-bottom: 8%;
}
#abstractSec2 {
    float: right;
    position: absolute;
    right: 0;
    height: 100%;
    width: 40%;
    background-color: burlywood;
}
#projectSelector {
    margin-left: 40%;
    font-size: x-large;
    white-space: nowrap;
    border: 1px solid black;
    background-color: tomato;
    float: left;
    width: 20%;
    text-align: center;
}
#projectSelector:hover {
    font-size: xx-large;
}
#projectSelText {
    writing-mode: vertical-rl;
    text-orientation: upright;
}
#projectCarousel {
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    height: 60%;
    width: 80%;
}


/* -----SECTION THREE----- */

#mainSection3 {
    height: 100vh;
}
#skillsHeader {
    float: right;
    margin-right: 10%;
    margin-top: 10%;
}

/* -----SECTION FOUR----- */

#mainSection4 {
    height: 100vh;
    text-align: center;
}

#hobbiesHeader {
    
}

/* -----FOOTER----- */

.footer {
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    height: 100vh;
    line-height: 60px;
    background-color: #273E47;
    padding-top: 50vh;
}