/* -----GLOBAL----- */
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body {
    background-color: rgb(31, 31, 31);
}
.btn {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid transparent !important;
    background-image: none; 
}

/* -----HEADER CONTAINER----- */

#headerContainer {
    height: 100vh;
    background-color: burlywood;
    text-align: center;
    padding-top: 35vh;
    position: relative;
}
#mainHeader {
    font-size: 100px;
}
#scrollElem {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;  
}
#mainBottom {
    position: absolute;
    color: black;
    bottom: 0;
      
}


/* -----SECTION GROUP STYLING----- */

#mainSection1, #mainSection3 {
    background-color: chocolate;
}

/* -----SECTION ONE----- */

#mainSection1 {
    height: 100vh;
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    background: -webkit-linear-gradient(45deg, chocolate 49%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(-45deg, chocolate 49%, brown 49%);
    background: -o-linear-gradient(45deg, chocolate 49%, rgba(0,0,0,0) 30%), -o-linear-gradient(-45deg, chocolate 49%, brown 49%);
    background: -moz-linear-gradient(45deg, chocolate 49%, rgba(0,0,0,0) 30%), -moz-linear-gradient(-45deg, chocolate 49%, brown 49%);
    background: linear-gradient(45deg, chocolate 49%, rgba(0,0,0,0) 30%), linear-gradient(-45deg, chocolate 49%, brown 49%);
}
#profile-pic {
    height: 500px;
    border-radius: 50%;
}
#aboutHeader {
    margin-top: 2%;
    margin-bottom: 2%;
}
.accordion {
    width: 50%;
    margin: auto;
}
.aboutItem {
    border-bottom: 1px solid black;
}

/* -----SECTION TWO----- */

#mainSection2 {
    height: 100%;
    padding-bottom: 10%;
    background: linear-gradient(90deg, teal 60%, burlywood 60%);
}
#projectsHeader {
    float: left;
    padding-left: 10%;
    padding-top: 5%;
    margin-bottom: 5%;
}
#projectSelector {
    margin-left: 40%;
    font-size: x-large;
    float: left;
    text-align: center;
}
.frontSelector {
    color: white;
}
#projectSelText {
    writing-mode: vertical-rl;
    text-orientation: upright;
    background-color: olive;
}
#projectCarouselFRONT, #projectCarouselBACK {
    float: right;
    margin-right: 10%;
    margin-top: 3%;
    height: 60%;
    width: 80%;
}
#projectCarouselBACK {
    display: none;
}


/* -----SECTION THREE----- */

#mainSection3 {
    height: 100%;
    width: 100%;
    padding-bottom: 15%;
}
#skillsHeader {
    float: right;
    margin-right: 10%;
    margin-top: 5%;
}
#skillsRow {
    margin-top: 5%;
    justify-content: center;
    align-items: center; 
}
#skillCard1, #skillCard2, #skillCard3 {
    margin-bottom: 5%;
    border: transparent;
    color: white;
    
}
#skillListEl {
    list-style-type:none;
    padding-right: 20px;
    padding-left: 20px;
}
#skillListHeader {
    text-align: center;
}
.card-header {
    background-color: darkolivegreen;
}
#skillCardBody {
    background-color: darkslategray;
}
#skillListItem {
    margin-bottom: 20px;
}
.progress-bar {
    background-color: green;
}

/* -----SECTION FOUR----- */

#mainSection4 {
    height: 100vh;
    text-align: center;
    background: -webkit-linear-gradient(130deg, olive 40%, rgba(0,0,0,0) 30%), -webkit-linear-gradient(-130deg, olive 40%, tan 40%);
    background: -o-linear-gradient(130deg, olive 40%, rgba(0,0,0,0) 30%), -o-linear-gradient(-130deg, olive 40%, tan 40%);
    background: -moz-linear-gradient(130deg, olive 40%, rgba(0,0,0,0) 30%), -moz-linear-gradient(-130deg, olive 40%, tan 40%);
    background: linear-gradient(130deg, olive 40%, rgba(0,0,0,0) 30%), linear-gradient(-130deg, olive 40%, tan 40%);
}
#hobbiesHeader {
    margin-top: 5%;
}

/* -----FOOTER----- */

.footer {
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    height: 100vh;
    line-height: 60px;
    background-color: #273E47;
    padding-top: 50vh;
}